<!DOCTYPE html>
<html>
<head>
    <title>mLab MongoDB Order Data</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>
<body>

<div class="container">
    <h2>THANK YOU FOR YOUR SUBMITTED ORDER</h2>
    <ul>
        <% result.forEach(function(r) { %>
        <li>ORDER: <%= r._id %></li>
        <ul>
            <li>Customer ID: <%=r.CUSTOMER_ID %></li>
            <li>Billing ID: <%=r.BILLING_ID %></li>
            <li>Shipping ID: <%=r.SHIPPING_ID %></li>
            <li>DATE: <%=r.DATE %></li>
            <li>Product_Vector: <%=r.PRODUCT_VECTOR %></li>
            <li>Total:<%=r.ORDER_TOTAL %></li>
        </ul>
        <br/>
        <% }); %>
    </ul>

</div>
</body>
</html>